/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1{
	color: rgb(2,132,130);
}
h2{
	color: #ffd700;
}


.board{
	height: 80%;
	width: 50%;
	display: inline-block;
	height: 50%;
}
.cards{
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
    
}
.cards img {
    width: 150px;
    height: 210px;
    border: 1px solid black;
    border-radius: 9px;
    background: black;
    margin: 0%;
}
.name{
	color: #ff0000;
}
h1,h2,p,footer{
	text-align: center;;
}
nav{
	background-color: #808080;
}
nav a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
 a:hover{
 	background-color: #ee5f3c;
 }
 .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer{
	background-color: #808080;
}      

